#tipue_search_input {
    margin-top: 9px;
}

p {
    text-align: justify;
}

table{
	width:100%;
	max-width:100%;
	margin-bottom:22px
	}
caption{
	padding-top:8px;
	padding-bottom:8px;
	color:#b3b3b3;
	text-align:left
	}
th{
	vertical-align:bottom;
	border-bottom:2px solid #dddddd
	}

#mapid { 
	height: 180px;
	margin-bottom:8px
	}
	