* {
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
    color: rgb(46, 160, 36);
    text-align: left;
}

div p {
    text-align: left;
    font-style: italic;
}

p {
    text-align: left;
}
.brown {
    color: brown;
}
#heading {
    border-bottom: 1px solid #000;
}